/*
    ~~~
    AUTHOR: CODY WASHINGTON
    CREATED: 8.8.2025
    TITLE: A Portfolio: Cody Washington
    DESCRIPTION: Static portoflio website, showcasing several projects, my experience, and relevant skills
    ~~~
*/
* {
  margin: 0;
  color: white;
  line-height: 1.625; 
}

:root {
  --x: 0vw;
  --y: 0vh;
  font-family: Inter, system-ui;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: currentColor; }
}

body {
  min-height: 100vh;
  width: 100vw;

  background-color: rgb(0, 15, 6);

  display: flex;
  align-items: stretch;   
  justify-content: center;    
}

#spotlight {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background:
    radial-gradient(
      circle 35em at var(--x) var(--y),
      rgba(4, 78, 36, 0.15),
      transparent 80%
    );
}

main {
  width: 70%;
  min-height: 100%;     

  display: flex;
}

a {
  font-weight: bold;
}

#portfolio-profile {
  width: 40%;
  height: 100vh;      
  top: 0;  
  
  align-self: flex-start;
  position: sticky;

  justify-content: center;
  align-content: center;
}

#portfolio-profile > * {
  width: 100%;

  display: block;
}

#portfolio-name {
  font-size: 4em;

  font-weight: bolder;
}

#portfolio-title {
  color:rgb(220, 220, 20);
  font-size: 1.5em;
  border-right: 0.15em solid currentColor;

  height: 1.75em;
  width: fit-content;

  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

#portfolio-information {
  width: 60%;
  height: 300vh;          
}
